*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}  
body{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    background: linear-gradient(to right, rgba(213, 245, 227, 0.8), rgba(249, 231, 159, 0.8));
}
.evenbox{
    background-color:#bb4d4d;;
}
.joy {
    display:none;
    position: absolute;
    top: 0%;
    width: 10%;
    height: 100px;
    z-index:10;
    animation-name: selebrate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 0.3s; */
    animation-direction: normal;
    animation-iteration-count: 1;
    /* border:2px solid blue; */
}
.joy1{
    top: 0%;
    left:20%;
    animation-duration: 1.5s;
}
.joy2{
    top: 0%;
    left:50%;
    animation-duration: 3s;
}
@keyframes selebrate {
    from {
        position:absolute;
        top: 0%;
    }
    to {
        position:absolute;
        top: 100%;
    }
}
.joy img{
    width:100%;
    height:100%;
}
.user{
    width:70px;
    height:70px;
    position:absolute;
    top:50%;
    left:50%;
    z-index:5;
    /* transition: all 1s; */
    /* transition:all 2s ease 0.3s; */
    transform: translate(-50%, -50%);
    transform:scale(0.1px);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.container,.wraper{
    width:55%;
    height:85vh;
    position:relative;
    border:2px ridge #b64040;
}
.wraper {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(10,auto);
    grid-template-rows:repeat(10,auto);
}
.snake , .stairs{ 
    position: absolute;
    top: 10%;
    right: 10%;
    z-index:2;
    width:100px;
    height:300px;
    background: none;
}
.snack1{
    width:30%;
    height:45%;
    top:0%;
    right:-6%;
    transform:rotate(-9deg);
    /* border:2px solid rgb(175, 2, 205); */
}
.snack2{
    width:39%;
    height:30%;
    top:15%;
    left:-8%;
    transform: rotate(-26deg);
    /* border:2px solid paleturquoise; */

}
.snack3{
    width:30%;
    height:38%;
    top:25%;
    right:9%;
    z-index:3;
    transform:rotate(-40deg);
   /* border:2px solid blue; */
}
.snack4{
    width: 40%;
    height:40%;
    top:40%;
    right:22%;
    /* border:2px solid green; */
    transform:rotate(-7deg);
}
.snack5{
    width: 25%;
    height:71%;
    top:33%;
    right:62%;
    z-index:1;
    transform: rotate(10deg);
    /* border:2px solid yellow; */
}
.snack6{
    width:29%;
    height:35%;
    top:66%;
    right:13%;
    z-index:3;
    transform: rotate(-90deg);
    /* border:2px solid pink; */
} 
.snack7{
    width:31%;
    height:33%;
    top:2%;
    right:39%;
    z-index:3;
    transform: rotate(-40deg);
    /* border:2px solid red; */
}
.stairs1{
   width:23%;
    height:40%;
    top:50%;
    left:-6%;
    /* border:2px solid pink; */
}
.stairs2{
    width:22%;
    height:70%;
    top:5%;
    left:43%;
    transform:rotate(30deg);
    /* border:2px solid pink; */
}
.stairs3{
    width:23%;
    height:40%;
    top:1%;
    left:18%;
    transform:rotate(-30deg);
    /* border:2px solid red; */

}
.stairs4{
    width:23%;
    height:43%;
    top:60%;
    left:20%;
    transform:rotate(-25deg);
    /* border:3px solid green; */
}
.stairs5{
    width:20%;
    height:50%;
    top:20%;
    right:-5%;
    /* transform:rotate(30deg); */
    /* border:2px solid blue; */
}
.stairs6{
    width:19%;
    height:28%;
    top:70%;
    right:1%;
    transform:rotate(-30deg);
    /* border:2px solid yellow; */
}

.wraper .box {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.8rem;
    font-weight:bold;
    border:none;
    border: 1px solid rgb(238, 5, 44);
}
.box100{
    position:relative;
}
.box100 img{
    position:absolute;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
.btn{
    width:100%;
    text-align:center;
    margin:10px;
}
.btn button{
    width:60px;
    height:50px;
    padding:6px;
    background-color:rgb(61, 175, 147);
    border-radius:7px;
    border:none;
    font-size:1.9rem;
}
.btn button:hover{
    box-shadow:10px 10px 10px;
    /* outline:5px solid rgb(65, 188, 65,0.4); */
}
.userimg{
    width:30px;
    height:30px;
}
.playersection{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin:1px auto;
}
.playersection .firstplayer, .secondplayer{
    width: 50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.firstplayer img, .secondplayer img{
    width:40px;
    height:40px;
}

@media only screen and (max-width:1000px){
    .container{
         width: 90%;
    }
}
@media only screen and (max-width:850px){
    .container,.wraper{
         width: 100%;
    }
}
 @media only screen and (max-width:550px){
    .container,.wraper{
         width: 99%;
         height:70vh;
    }
    .container .wraper .box{
        font-size:1rem;
    }
    .container{
        transform:translate(0%,10%);
    }
} 
@media only screen and (max-width:393px){
    .container,.wraper{
         width: 100%;
         height:70vh;
    }
    .container{
        transform:translate(0%,10%);
    }
    .container .wraper .box{
        font-size:0.9rem;
    }
    .user{
        width:40px;
        height:40px;
    }
} 